body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: rgb(0, 0, 0, 0.2);
  height: 70px;
  font-weight: 100px;
  display: flex;
}

.logo {
  color: white;
  padding-top: 20px;
  padding-left: 80px;
  font-size: 25px;
  display: flex;
}

.navigation {
  color: white;
  justify-content: space-evenly;
  width: 40%;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.signup {
  color: white;
  justify-content: flex-end;
  width: 900px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.signup div {
  padding-left: 70px;
}

.mainScreen {
  height: 120vh;
  background-image: url(asset/picture/assets/main-bg.jpg);
  background-size: cover;
  background-position: center;
}

.hero {
  text-align: center;
  color: white;
  margin-top: 180px;
  align-items: center;
}

.mainScreen h1 {
  font-size: 80px;
}

.mainScreen p {
  font-size: 25px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.scroller {
  color: white;
  text-align: center;
  margin-top: 250px;
  font-size: 10px;
}

.scrollLogo {
  margin-left: 940px;
  margin-top: -10px;
}

.gameChoice {
  background-image: url(asset/picture/assets/the-games-bg.jpg);
  background-size: cover;
  height: 110vh;
  display: flex;
}

.leftText {
  color: white;
  width: 40%;
  padding-top: 250px;
  padding-left: 150px;
}

.leftText h3 {
  font-size: 20px;
}

.leftText h1 {
  font-size: 75px;
  margin-top: 5px;
}

.carouselPersonal {
  width: 50%;
  height: 50%;
  margin-top: 300px;
  margin-left: 0px;
}

.featuresPage {
  background-image: url(asset/picture/assets/features.jpg);
  background-size: cover;
  background-position: center;
  height: 110vh;
}

.featureText {
  color: white;
  float: right;
  margin-top: -580px;
  margin-right: 400px;
  margin-left: -500px;
}

.featureText h3 {
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 400;
}

.featureText h1 {
  padding-top: 10px;
  font-size: 90px;
  font-weight: 400;
  letter-spacing: 8px;
}

.featureText h4 {
  font-size: 30px;
  color: rgb(250, 165, 39);
  margin-left: 80px;
  margin-bottom: 30px;
}

.firstList {
  margin-top: 80px;
  margin-bottom: 20px;
}

.featureText p {
  margin-left: 80px;
  margin-bottom: 93px;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.secondList {
  margin-bottom: 62px;
}

.featureLine {
  margin-left: 1051px;
  padding-top: 300px;
}

.thirdList {
  margin-top: 60px;
}

.garisVertic {
  height: 190px;
  width: 1px;
  border: 2px solid white;
  margin-left: 66.3rem;
  margin-top: -19rem;
}

/* Feature Line */

.step {
  position: relative;
  min-height: 1em;
  color: gray;
}

.title {
  line-height: 1.5em;
  font-weight: bold;
}
.caption {
  font-size: 0.8em;
}

.step + .step {
  margin-top: 1.5em;
}

.step > div:first-child {
  position: static;
  height: 0;
  margin-top: 5rem;
}

.step > div:not(:first-child) {
  margin-left: 1.5em;
  padding-left: 1em;
}

/* Circle */
.circle {
  background: white;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: white;
  text-align: center;
  box-shadow: 0 0 0 3px white;
}

.circle-1 {
  background: black;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 100%;
  color: white;
  text-align: center;
  box-shadow: 0 0 0 3px white;
}

/* Vertical Line */
.circle:after {
  content: " ";
  position: absolute;
  display: block;
  top: 1px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  height: 100%;
  width: 1px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: white;
  z-index: -1;
}

.step:last-child .circle:after {
  display: none;
}

.step.step-active {
  color: white;
  margin-top: 200px;
}
.step.step-active .circle {
  background-color: black;
}

/* Feature Line End */

/* *,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

.progress {
  margin: 20px auto;
  text-align: center;
  padding-bottom: 80px;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
  vertical-align: top;
}
.progress .bar {
  position: relative;
  width: 80px;
  height: 6px;
  margin: 0 -5px 17px -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
  top: 16px;
  vertical-align: top;
}
.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}
.progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 18px;
  margin-left: -30px;
  display: block;
  width: 100px;
  margin-top: 5px;
}

.progress .bar.done,
.progress .circle.done {
  background: #eee;
}
.progress .bar.active {
  background: linear-gradient(to right, #eee 40%, #fff 60%);
}
.progress .circle.done .label {
  color: #fff;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.progress .circle.done .title {
  color: #444;
}
.progress .circle.active .label {
  color: #fff;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.progress .circle.active .title {
  color: #0c95be;
} */

.requirements {
  background-image: url(asset/picture/assets/requirements.png);
  background-size: cover;
  background-position: center;
  height: 120vh;
  color: white;
}

.requirements p {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.requirements h1 {
  margin-top: 200px;
  margin-left: 200px;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 8px;
}

.smallTitle {
  display: flex;
}

.tabel {
  width: 20rem;
  margin-left: 13rem;
  margin-top: 100px;
  border: 1px solid white;
  padding: 10px 25px;
}
.tabel p {
  text-align: start;
  font-size: 2rem;
  color: rgb(250, 165, 39);
  margin-bottom: 5px;
  letter-spacing: 3px;
}

.tabel h6 {
  font-weight: 200;
  font-size: 20px;
}

.sidedTabel {
  display: flex;
}

.proc {
  margin-left: 0px;
}

.store {
  margin-left: 0px;
}

.memo,
.store {
  margin-top: 0px;
  padding-bottom: 35px;
}

.bottomTabel {
  width: 40rem;
  margin-left: 13rem;
  border: 1px solid white;
  padding: 10px 25px;
}

.graph p {
  text-align: start;
  font-size: 2rem;
  color: rgb(250, 165, 39);
  margin-bottom: 5px;
  letter-spacing: 3px;
}

.graph h6 {
  font-weight: 100;
  font-size: 20px;
}

table {
  text-align: start;
  padding: 5px;
}

.topScores {
  background-image: url(asset/picture/assets/top-score-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  height: 120vh;
}

.scoreLeft {
  color: white;
  height: 120vh;
  width: 40%;
  padding-top: 500px;
  padding-left: 150px;
}

.scoreLeft h1 {
  font-size: 75px;
  font-weight: 400;
  margin-bottom: 40px;
}

.scoreLeft p {
  font-size: 20px;
}

.scoreRight {
  width: 60%;
}

.comment {
  color: white;
}

.tweet {
  border: 1px solid black;
  width: 500px;
  background-color: rgb(24, 24, 24);
  border-radius: 8px;
  padding-top: 1rem;
  margin-left: 230px;
  margin-top: 350px;
  padding-left: 15px;
}

.name {
  color: rgb(250, 165, 39);
  margin-bottom: 0px;
}

.photoShadow {
  margin-left: 3px;
  height: 80px;
  width: 55px;
}

.photo {
  margin-left: -85px;
  margin-top: -3px;
}

.evanShadow {
  margin-left: 3px;
  height: 80px;
  width: 55px;
}

.job {
  opacity: 0.5;
}

.comm {
  margin-left: 13px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.commIvan {
  margin-left: 13px;
  margin-top: 23px;
  margin-bottom: 10px;
}

.date {
  font-size: 13px;
  margin-left: 13px;
  margin-top: 7px;
  margin-bottom: 19px;
  opacity: 0.5;
}

.tweet img {
  float: left;
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 55px;
}

.jada {
  margin-top: 60px;
  margin-left: 35px;
}

.aaron {
  margin-top: 60px;
  margin-left: 200px;
}

.evan img {
  height: 55px;
  width: 80px;
}

.jada img {
  height: 50px;
  width: 75px;
}

.aaron img {
  height: 50px;
  width: 75px;
}

.evanLogo {
  margin-left: 670px;
  margin-top: -1300px;
}

.jadaLogo {
  margin-left: -226px;
  margin-top: -840px;
}

.aaronLogo {
  margin-left: 140px;
  margin-top: -330px;
}

.newsletterMain {
  width: 100%;
  height: 105vh;
  background-image: url(asset/picture/assets/newsletter.png);
  background-size: cover;
  display: flex;
}
.skull {
  height: 100vh;
  width: 40%;
}

.skull img {
  margin-top: 120px;
  margin-left: 300px;
}

.subscribe {
  height: 100vh;
  width: 60%;
  padding-top: 130px;
  margin-left: 200px;
  color: white;
}

.subscribe h5 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.subscribe h2 {
  font-size: 80px;
  font-weight: 400 bold;
  letter-spacing: 4px;
  margin-bottom: 35px;
}

.subscribe p {
  margin-bottom: 60px;
}

.subsekarang {
  margin-left: 342px;
  margin-top: -58px;
}

.footer {
  color: white;
  margin-top: -150px;
  margin-left: 560px;
  display: flex;
}

.footer p {
  padding-left: 50px;
  letter-spacing: 1px;
}

.footerLogo {
  display: flex;
  margin-left: 100px;
}

.facebookLogo {
  margin-right: 30px;
  margin-top: -10px;
}

.twitterLogo {
  margin-right: 30px;
  margin-top: -10px;
}

.youtubeLogo {
  margin-right: 30px;
  margin-top: -10px;
}

.twitchLogo {
  margin-right: 30px;
  margin-top: -10px;
}

.garis {
  width: 70%;
  border-bottom: 1px solid white;
  justify-content: center;
  margin: 10px 50px 0px 250px;
  opacity: 0.6;
}

.copyright {
  color: grey;
  margin-left: 250px;
  margin-top: 30px;
  opacity: 0.6;
  font-size: 15px;
}

.policy {
  text-align: end;
  margin-top: -41px;
  margin-right: 320px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  opacity: 0.7;
}
